/* body */
/* body part 1 starts */
.part_1{
  padding-top: 17vh;
}
.part_1 h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 7vh;
  font-family: Railway;
  font-weight: bolder;
  color: #3F3D56;
}

.part_1 .bodypart p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-family: Railway;
  font-weight: 400;
  color: white;
}
.part_1 .bodypart p:nth-of-type(1){
  margin-bottom: 5vh;
}
.part_1 .bodypart{
  background-color: #053D4D;
  padding: 40px;
  margin-bottom: 9vh;
  border-radius: 10px;
}


/* body part 1 ends  */

/* body part 2 starts */

.part_2 h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  font-family: Railway;
  font-weight: bolder;
  font-size: 40px;
  color: #2F2E41;
}
/* part_2.1 starts */
.part_2 .part_2_1{
  margin-bottom: 30px;
}
.part_2 .general_1 h3{
  margin-top: 30px;
  margin-left: 30px;
  color: #2C7272;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.part_2 .general_1 ul{
  margin-top: 20px;
  font-size: 22px;
}
.part_2 .general_2 img{
  height: 390px;
  width: 430px;
  padding-right: 80px;
  padding-bottom: 50px;
}
/* part 2.1 ends */

/* part 2.2 starts */
.part_2 .part_2_2{
  margin-bottom: 40px;
}
.part_2 .camp_2 h3{
  margin-top: 20px;
  margin-left: 10px;
  color: #2C7272;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.part_2 .camp_2 ul{
  font-size: 22px;
}
.part_2 .camp_1 img{
  height: 400px;
  width: 600px;
  padding-bottom: 40px;
  padding-right: 220px;
}
/* part 2.2 ends */

/* part_2.3 starts */
.part_2 .part_2_3{
  margin-bottom: 40px;
}
.part_2 .social_1 h3{
  margin-top: 30px;
  margin-left: 30px;
  color: #2C7272;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.part_2 .social_1 ul{
  font-size: 22px;
}
.part_2 .social_2 img{
  height: 274px;
  width: 350px;
}
/* part 2.3 ends */
.part_2 .part_2_4{
  margin-bottom: 40px;
}
.part_2 .cultural_2 h3{
  margin-top: 30px;
  margin-left: 30px;
  color: #2C7272;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.part_2 .cultural_2 ul{
  font-size: 22px;
}
.part_2 .cultural_1 img{
  height: 274px;
  width: 350px;
}

.part_2 .part_2_5{
  margin-bottom: 40px;
}
.part_2 .sports_1 h3{
  margin-top: 30px;
  margin-left: 30px;
  color: #2C7272;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.part_2 .sports_1 ul{
  font-size: 22px;
}
.part_2 .sports_2 img{
  height: 274px;
  width: 350px;
}
/* body part 2 ends */

/* main about page */
@media only screen and (min-width:1400px){
  .part_1, .part_2{
    margin-left: 80px;
    margin-right: 80px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
    width: 400px;
    height: 290px;
  }
  .part_2 .camp_1 img{
    height: 400px;
    width: 600px;
    padding-bottom: 0px;
    padding-top: 30px;
  }
  .part_2 .cultural_1 img{
    height: 300px;
    width: 400px;
    padding-bottom: 0px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    width: 400px;
    height: 290px;
  }
  .gpic , .spic , .cpic, .cupic , .sppic{
    display: none;
  }
}
@media only screen and (min-width:1300px) and (max-width:1400px){
  .part_1 , .part_2{
    margin-left: 40px;
    margin-right: 40px;
  }
  .part_2 .camp_1 img{
    padding-bottom: 0px;
    width: 610px;
    margin-top: 20px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
  }
  .part_2 .cultural_1 img{
    height: 280px;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    padding-top: 30px;
    width: 400px;
    height: 290px;
  }
.part_1 , .part_2{
  overflow-x: hidden;
}
.gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}
}
@media only screen and (min-width:1200px) and (max-width:1300px){
  .part_1 , .part_2{
    margin-left: 40px;
    margin-right: 40px;
  }
  .part_2 .camp_1 img{
    padding-bottom: 0px;
    width: 610px;
    margin-top: 20px;
    padding-right: 240px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
  }
  .part_2 .cultural_1 img{
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    padding-top: 20px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
}
 .gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}
}
@media only screen and (min-width:1100px) and (max-width:1200px){
  .part_1 , .part_2{
    margin-left: 40px;
    margin-right: 40px;
  }
  .camp_2{
    padding-left: 3%;
  }
  .part_2 .camp_1 img{
    padding-bottom: 0px;
    width: 580px;
    height: 370px;
    margin-top: 30px;
    padding-right: 240px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
    padding-top: 30px;
    height: 290px;
  }
  .part_2 .cultural_1 img{
    padding-top: 30px;
    padding-bottom: 0px;
    height: 280px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    padding-top: 20px;
  }
.part_1 , .part_2{
  overflow-x: hidden;
}
.gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}

}
@media only screen and (min-width:992px) and (max-width:1100px){
  .part_1 , .part_2{
    margin-left: 40px;
    margin-right: 40px;
  }
  .camp_2{
    padding-left: 6%;
  }
  .part_2 .camp_1 img{
    padding-bottom: 0px;
    width: 590px;
    margin-top: 40px;
    height: 440px;
    padding-right: 240px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
    margin-top: 20px;
  }
  .part_2 .cultural_1 img{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 40px;
    height: 350px;
    width: 350px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    margin-top: 40px;
    padding-top: 20px;
    height: 320px;
  }
  .part_2 .general_2 img{
    width: 400px;
    padding-bottom: 80px;
  }
.part_1 , .part_2{
  overflow-x: hidden;
}
.gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}

}
@media only screen and (min-width:900px) and (max-width:992px){
  .part_1 , .part_2{
    margin-left: 20px;
    margin-right: 20px;
  }
  .camp_2{
    padding-left: 10%;
  }
  .part_2 .camp_2 ul {
    font-size: 21px;
}
  .part_2 .camp_1 img{
    padding-bottom: 0px;
    width: 590px;
    margin-top: 40px;
    height: 460px;
    padding-right: 220px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
    margin-top: 25px;
  }
  .part_2 .cultural_1 img{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: 350px;
    width: 350px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    margin-top: 40px;
    padding-top: 20px;
    height: 320px;
  }
  .part_2 .general_2 img{
    width: 400px;
    padding-bottom: 80px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}
}
@media only screen and (min-width:800px) and (max-width:900px){
  .part_1 , .part_2{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .camp_2{
    padding-left: 10%;
  }
  .part_2 .general_1 ul , .part_2 .camp_2 ul, .part_2 .social_1 ul, .part_2 .cultural_2 ul, .part_2 .sports_1 ul{
    font-size: 20px;
  }
  .part_2 .social_2 img{
    margin-top: 30px;
  }
  .part_2 .general_2 img{
    width: 320px;
    height: 350px;
    padding-right: 70px;
    padding-bottom: 80px;
  }
  .part_2 .camp_1 img{
    width: 560px;
    height: 550px;
    padding-top: 20px;
    padding-right: 240px;
  }
  .part_2 .cultural_1 img{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: 350px;
    width: 330px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    margin-top: 40px;
    padding-top: 20px;
    height: 320px;
  }
 
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}
}
@media only screen and (min-width:700px) and (max-width:800px){
  .part_1 , .part_2{
    margin-left: 20px;
    margin-right: 20px;
  }
  .camp_2{
    padding-left: 10%;
  }
  .part_2 .general_1 ul , .part_2 .camp_2 ul, .part_2 .social_1 ul, .part_2 .cultural_2 ul,  .part_2 .sports_1 ul {
    font-size: 18px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
    margin-top: 20px;
    width: 240px;
  }
  .part_2 .general_2 img{
    width: 290px;
    height: 350px;
    padding-right: 70px;
    padding-bottom: 80px;
  }
  .part_2 .camp_1 img{
    width: 530px;
    height: 450px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
    padding-right: 240px;
  }
  .part_2 .cultural_1 img{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: 320px;
    width: 300px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    margin-top: 20px;
    padding-top: 0px;
    height: 320px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}
}
@media only screen and (min-width:600px) and (max-width:700px){
  .part_1 , .part_2{
    margin-left: 10px;
    margin-right: 10px;
  }
  .camp_2{
    padding-left: 7%;
  }
  .part_2 .general_1 ul , .part_2 .camp_2 ul, .part_2 .social_1 ul, .part_2 .cultural_2 ul, .part_2 .sports_1 ul{
    font-size: 16px;
  }
  .part_2 .general_1 h3, .part_2 .camp_2 h3, .part_2 .social_1 h3, .part_2 .cultural_2 h3, .part_2 .sports_1 h3{
    font-size: 32px;
  }

  .part_2 .general_2 img{
    width: 250px;
    height: 320px;
    padding-right: 70px;
    padding-bottom: 80px;
  }
  .part_2 .social_2 img{
    padding-left: 0px;
    margin-top: 20px;
    width: 220px;
    padding-right: 20px;
  }
  .part_2 .camp_1 img{
    width: 480px;
    height: 400px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 20px;
    padding-right: 240px;
  }
  .part_2 .cultural_1 img{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: 280px;
    width: 270px;
  }
  .part_2 .sports_2 img{
    padding-left: 0px;
    margin-top: 20px;
    padding-top: 0px;
    width: 360px;
    height: 270px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .gpic , .spic , .cpic, .cupic , .sppic{
  display: none;
}
}
@media only screen and (min-width:450px) and (max-width:600px){
  .part_2 .general_1 ul , .part_2 .camp_2 ul, .part_2 .social_1 ul,  .part_2 .cultural_2 ul,  .part_2 .sports_1 ul{
    font-size: 16px;
    width: 100%;
  }
  .part_1 .bodypart{
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .part_2 h3{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .part_2  .part_2_1 h3 img{
    margin-left: 120px;
  }
  .part_2 .part_2_2 h3 img{
    margin-right: 100px;
    width: 230px;
  }
  .part_2 .part_2_3 h3 img{
    margin-left: 80px;
  }
  .part_2  .part_2_4 h3 img{
    margin-right: 50px;
  }
  .part_2 .part_2_5 h3 img{
    margin-right: 60px;
  }
  .part_2 .spic{
    width: 230px;
    height: 180px;
  }
  .part_2 .gpic{
    width: 180px;
    height: 190px;
  }
  .part_2 .cpic{
    width: 250px;
    height: 190px;
  }
  .part_2 .cupic{
    width: 230px;
    height: 180px;
  }
  .part_2 .sppic{
    width: 230px;
    height: 180px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .general_2 , .camp_1 , .social_2, .cultural_1 , .sports_2{
  display: none;
}
}
@media only screen and (min-width:400px) and (max-width:450px){
  .part_2 .general_1 ul , .part_2 .camp_2 ul, .part_2 .social_1 ul,  .part_2 .cultural_2 ul,  .part_2 .sports_1 ul{
    font-size: 18px;
    width: 100%;
  }
  .part_1 .bodypart{
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .part_2 h3{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .part_2  .part_2_1 h3 img{
    margin-left: 100px;
  }
  .part_2 .part_2_2 h3 img{
    margin-right: 75px;
  }
  .part_2 .part_2_3 h3 img{
    margin-left: 60px;
  }
  .part_2  .part_2_4 h3 img{
    margin-right: 30px;
  }
  .part_2 .part_2_5 h3 img{
    margin-right: 60px;
  }
  .part_2 .spic{
    width: 200px;
    height: 180px;
  }
  .part_2 .gpic{
    width: 150px;
    height: 190px;
  }
  .part_2 .cpic{
    width: 220px;
    height: 190px;
  }
  .part_2 .cupic{
    width: 200px;
    height: 180px;
  }
  .part_2 .sppic{
    width: 180px;
    height: 180px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .general_2 , .camp_1 , .social_2, .cultural_1 , .sports_2{
  display: none;
}
.part_2 .part_2_1 ,.part_2 .part_2_2{
  margin-bottom: 15px;
}
.part_2 .part_2_1 h3 ,.part_2 .part_2_2 h3{
  margin-bottom: 30px;
}
}
@media only screen and (min-width:340px) and (max-width:400px){
  .part_2 .general_1 ul , .part_2 .camp_2 ul, .part_2 .social_1 ul,  .part_2 .cultural_2 ul,  .part_2 .sports_1 ul{
    font-size: 16px;
    width: 100%;
  }
  .part_1 .bodypart{
    padding-right: 10px;
    padding-left: 10px;
  }
  .part_2{
    margin-right: 7px;
  }
  
  .part_2 h3{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .part_2  .part_2_1 h3 img{
    margin-left: 70px;
  }
  .part_2 .part_2_2 h3 img{
    margin-right: 55px;
  }
  .part_2 .part_2_3 h3 img{
    margin-left: 60px;
  }
  .part_2  .part_2_4 h3 img{
    margin-right: 30px;
  }
  .part_2 .part_2_5 h3 img{
    margin-right: 60px;
  }
  .part_2 .spic{
    width: 170px;
    height: 180px;
  }
  .part_2 .gpic{
    width: 150px;
    height: 190px;
  }
  .part_2 .cpic{
    width: 200px;
    height: 190px;
  }
  .part_2 .cupic{
    width: 170px;
    height: 180px;
  }
  .part_2 .sppic{
    width: 160px;
    height: 180px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .general_2 , .camp_1 , .social_2, .cultural_1 , .sports_2{
  display: none;
}
.part_2 .part_2_1 ,.part_2 .part_2_2{
  margin-bottom: 15px;
}
.part_2 .part_2_1 h3 ,.part_2 .part_2_2 h3{
  margin-bottom: 30px;
}
}
@media only screen and (min-width:300px) and (max-width:340px){
  .part_2 .general_1 ul , .part_2 .camp_2 ul, .part_2 .social_1 ul,  .part_2 .cultural_2 ul,  .part_2 .sports_1 ul{
    font-size: 16px;
    width: 100%;
  }
  .part_1 .bodypart{
    padding-right: 10px;
    padding-left: 10px;
  }
  .part_2{
    margin-right: 5px;
  }
  
  .part_2 h3{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .part_2  .part_2_1 h3 img{
    margin-left: 50px;
  }
  .part_2 .part_2_2 h3 img{
    margin-right: 45px;
  }
  .part_2 .part_2_3 h3 img{
    margin-left: 40px;
  }
  .part_2  .part_2_4 h3 img{
    margin-right: 40px;
  }
  .part_2 .part_2_5 h3 img{
    margin-right: 60px;
  }
  .part_2 .part_2_5 h3, .part_2 .part_2_4 h3, .part_2 .part_2_3 h3, .part_2 .part_2_2 h3, .part_2 .part_2_1 h3 {
    font-size: 16px;
  }
  .part_2 .spic{
    width: 150px;
    height: 180px;
  }
  .part_2 .gpic{
    width: 150px;
    height: 150px;
  }
  .part_2 .cpic{
    width: 170px;
    height: 190px;
  }
  .part_2 .cupic{
    width: 140px;
    height: 140px;
  }
  .part_2 .sppic{
    width: 140px;
    height: 150px;
  }
 .part_1 , .part_2{
  overflow-x: hidden;
 }
 .general_2 , .camp_1 , .social_2, .cultural_1 , .sports_2{
  display: none;
}
.part_2 .part_2_1 ,.part_2 .part_2_2{
  margin-bottom: 0px;
  margin-right: 2px;
}
.part_2 .part_2_3{
  margin-right: 2px;
}
.part_2 .part_2_1 h3 ,.part_2 .part_2_2 h3{
  margin-bottom: 15px;
}
.part_1 .bodypart{
  padding-right: 10px;
  padding-left: 10px;
}

}
@media only screen and (min-width:300px) and (max-width:320px){
  .part_2 h2 {
    font-size: 23px;
    }

  .part_2  .part_2_1 h3 img{
    margin-left: 50px;
  }
  .part_2 .part_2_2 h3 img{
    margin-right: 40px;
  }
  .part_2 .part_2_3 h3 img{
    margin-left: 40px;
  }
  .part_2  .part_2_4 h3 img{
    margin-right: 37px;
  }
  .part_2 .part_2_5 h3 img{
    margin-right: 50px;
  }
  .part_2 .part_2_5 h3, .part_2 .part_2_4 h3, .part_2 .part_2_3 h3, .part_2 .part_2_2 h3, .part_2 .part_2_1 h3 {
    font-size: 16px;
  }
  .part_2 .spic{
    width: 150px;
    height: 180px;
  }
  .part_2 .gpic{
    width: 150px;
    height: 150px;
  }
  .part_2 .cpic{
    width: 170px;
    height: 190px;
  }
  .part_2 .cupic{
    width: 140px;
    height: 140px;
  }
  .part_2 .sppic{
    width: 130px;
    height: 150px;
  }


}
@media only screen and (min-width:300px) and (max-width:425px){

.part_1 .bodypart {
    border-radius: 0px;
}
.part_2 h2{
  font-size: 18px;
}
}