/* Events */
.events{
  margin-top: 150px;
}

.events .row .col img{
  width: 261px;
  height: 262px;
}

.events .row .col img:hover{
  box-shadow: 0 10px 10px rgb(154 160 185 / 100%), 0 15px 40px rgb(166 173 201 / 20%);
}

.upevents .row .col img{
  width: 261px;
  height: 262px;
}

.upevents .row .col img:hover{
  box-shadow: 0 10px 10px rgb(154 160 185 / 100%), 0 15px 40px rgb(166 173 201 / 20%);
}

@media only screen and (max-width:767px){
  .events .row .col img{
    width: 300px;
    height: 270px;
  }
  .upevents .row .col img{
    width: 300px;
    height: 270px;
  }
}