/* body */

/* body part_1 starts */
.part_1{
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 11vh;
  opacity: 0.8;
  height: 88vh;
  width: auto;
}

.carousel-inner .carousel-item img{
  padding-top: 50px;
  height: 550px;
  width: 550px;
  margin: auto;
}
.carousel-control-prev-icon , .carousel-control-next-icon{
  height: 5rem;
  width: 10rem;
}
.carousel-control-prev{
  margin-left: 5%;
}
.carousel-control-next{
  margin-right: 5%;
}
.carousel-indicators [data-bs-target]{
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
.carousel-indicators button{
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
/* body part_1 ends */



/* body part_2 starts */
/* heading part */
.part_2{
  padding-top: 3vh;
  height: auto;
  width: auto;
}
.part_2 span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.part_2 span:nth-child(1){
  font-size: xxx-large;
  font-weight: 700;
  font-family: 'Roboto';
}
/* aim _0 section */
.aim_0{
  margin-top: 15px;
  height: auto;
}
/* aim_0 section heading part */
.aim_0 h2{
  font-size: xx-large;
}
/* aim_0 section paragraph part */
.aim_0 p{
  width: 95%;
  margin-top: 20px;
  font-size: larger;
}
/* aim_0 section list part */
.aim_0 ul{
  font-size: larger;
  width: 95%;
  margin-top: 25px; 
}
.aim_0 ul li{
  line-height: normal;
}
.aim_0 ul li:nth-child(2){
  padding-top: 10px;
}
.aim_0 ul li:nth-child(3){
  padding-top: 10px;
}
/* aim section image part */
.aim_1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 15px;
  margin-left: 30px;
}
.aim_1 img{
  margin-bottom: 15px;
  height: 90%;
}
/* pledge section starts */
.part_3{
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: auto;
  width: auto;
  margin-top: 2vh;
}
/* pledge section image part */
.pledge_0{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 15px;
}
.pledge_0 img{
  margin-bottom: 20px;
  height: 70%;
  padding-left: 100px;
  margin-top: 30px;
}
/* PLEDGE writing section */
.pledge_1{
  margin-top: 15px;
  height: 60vh;
  width: 650px;
  margin-left: 180px;
  background-color: #05445E;
}
/* pledge_1 section heading part */
.pledge_1 h2{
  font-size: x-large;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  color: #FFFFFF;
  font-size: xx-large;
}
/* pledge_1 section paragraph part */
.pledge_1 p{
  color: #FFFFFF;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  line-height: 1.6;

}
/* body part_2 ends */

/* for main home page */
/* @media only screen and (min-width:1001px) and (max-width:1200px){
  .aim_1{
    margin-top: 60px;
    margin-left: 50px;
  }
} */
@media only screen and (min-width:300px) and (max-width:1024px){
  .pledge_0{
    margin: auto;
  }
  .pledge_0 img{
    padding-left: 70px;
  }
  .pledge_1{
   margin-left: 0px;
   margin: auto;
   height: auto;
   background-color: #05445E;
  }
  .aim_0 h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aim_1{
    margin: auto;
  }
  .aim_0 p{
    width: 100%;
  }
  .aim_0 ul{
    width: 100%;
  }
  .part_3{
    background-color: #05445E;
    padding-bottom: 50px;
  }
  .part_2, .part_3{
    text-align: justify;
  }
  
}
@media only screen and (min-width:500px) and (max-width:768px){
  .pledge_1 p{
    font-size: medium;
    margin-top: 20px;
  }
  .pledge_1 h2{
    font-size: larger;
    margin-top: 0px;
  }
  .aim_0 h2{
    font-size: x-large;
  }
  .aim_0 p, .aim_0 ul{
    font-size: medium;
  }
  .pledge_0 img{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@media only screen and (min-width:400px) and (max-width:500px){
  .pledge_1 p{
    font-size: small;
    margin-top: 20px;
  }
  .pledge_1 h2{
    font-size: large;
    margin-top: 0px;
  }
  .pledge_0 img{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .aim_0 h2{
    font-size: x-large;
  }
  .aim_0 p, .aim_0 ul{
    font-size: small;
  }
  .aim_1{
    height: 50vh;
  }
  #logo1,
  #logo2,
  #logo3,
  #logo4,
  #logo5 {
    padding: 10px;
  }
  .contact h4{
    font-size: 17px;
  }
  .contact p{
    font-size: 17px;
  }
  .address p{
    font-size: 17px;
  }
  .part_2 span:nth-child(1){
    font-size: xx-large;
  }
}
@media only screen and (min-width:300px) and (max-width:400px){
  .part_2 span:nth-child(1){
    font-size: xx-large;
  }
  .pledge_1 p{
    font-size: smaller;
  }
  .pledge_1 h2{
    font-size: large;
    margin-top: 0PX;
  }
  .aim_0 h2{
    font-size: x-large !important;
  }
  .aim_0 p, .aim_0 ul{
    font-size: smaller;
  }
  .aim_1{
    height: 50vh;
  }

  .pledge_0 {
    margin-top: 0px;
  }
  .pledge_1 p{
    margin-top: 30px;
  }
  .contact h4{
    font-size: 15px;
  }
  .contact p{
    font-size: 15px;
  }
  .address p{
    font-size: 15px;
  }
 

}
@media only screen and (min-width:300px) and (max-width:341px){
#social{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 0px;
    height: 50px;
}
  #logo1,
  #logo2,
  #logo3,
  #logo4,
  #logo5 {
    padding: 0px;
  }
  .aim_1 img{
    width: 90%;
  }
  .pledge_0 img{
    padding-left: 30px;
  }
  #social img{
    width: 40px;
  }

}
@media only screen and (min-width:340px) and (max-width:400px){
  #logo1,
  #logo2,
  #logo3,
  #logo4,
  #logo5 {
    padding: 0px;
  }
  .aim_1 img{
    width: 90%;
  }
  .pledge_0 img{
    padding-left: 90px;
  }
  .contact p{
    margin-bottom: 0px;
  }
  #social{
    padding: 0px;
    height: 60px;
    padding-top: 10px;
  }
  #social img{
    width: 45px;
  }
}
@media only screen and (min-width:400px) and (max-width:430px){
  .pledge_0 img{
    padding-left: 90px;
  }
  .pledge_1 h2{
    margin-top: 2px;
  }
  .pledge_1 p{
    margin-top: 30px;
  }
}
@media only screen and (min-width:1024px) and (max-width:1100px){
  .aim_1 img{
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .col-lg-7{
    width: 50%;
  }
  .pledge_1{
    margin-left: 160px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1425px){
  .aim_1 img{
    width: 400px;
    height: 400px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .col-lg-7{
    width: 50%;
  }

}
@media only screen and (min-width:1100px) and (max-width:1200px){
  .pledge_1{
    margin-left: 160px;
  }
  
}
@media only screen and (min-width:1200px) and (max-width:1300px){
  .aim_1 img{
    margin-top: 20px;
  }
}
@media only screen and (min-width:1300px) and (max-width:1400px){
  .aim_1 img{
    margin-top: 20px;
  }
  
}
@media only screen and (min-width:1400px) and (max-width:1425px){
  .aim_1 img{
    margin-top: 0px;
    height: 380px;
    margin-left: 100px;
    margin-bottom: 100px;
  }
  
}
@media only screen and (min-width:1425px){
  .aim_1 img{
    padding-left: 100px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
.col-lg-7{
  width: 50%;
}
}


/* carousel media query  */

@media only screen and (min-width:1024px) and (min-height:618px) {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 500px;
    width: 500px;
    margin: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
}
@media only screen and (min-width:768px) and (max-width:1024px) and (min-height:618px) {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 500px;
    width: 470px;
    margin: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
}
@media only screen and (min-width:425px) and (max-width:768px) and (min-height:618px) {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 550px;
    width: 350px;
    margin: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
}
@media only screen and (min-width:375px) and (max-width:425px) and (min-height:618px) {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 500px;
    width: 350px;
    margin: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}

}
@media only screen and (min-width:375px) and (max-width:425px) and (height:812px) {
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
}
@media only screen and (min-width:300px) and (max-width:375px) and (min-height:618px) {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 500px;
    width: 300px;
    margin: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
} 
@media only screen and (min-width:300px) and (max-width:375px) and (min-height:568px) {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 500px;
    width: 300px;
    margin: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}

} 
@media only screen and (min-width:600px) and (max-width:800px) and (min-height:727px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 600px;
    width: 450px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
} 
@media only screen and (min-width:425px) and (max-width:600px) and (min-height:727px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 550px;
    width: 400px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
} 
@media only screen and (min-width:375px) and (max-width:425px) and (min-height:727px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 600px;
    width: 350px;
    margin: auto;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
} 
@media only screen and (min-width:300px) and (max-width:375px) and (min-height:727px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 550px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
.pledge_0 img{
  margin-right: 50px;
}
} 
@media only screen and (min-width:800px) and (min-height:727px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    margin-top: 50px;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}

} 
@media only screen and (min-width:768px) and (max-width:1024px) and (min-height:1024px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 650px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.carousel-indicators {
  
  margin-bottom: 3rem;

}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
} 
@media only screen and (min-width:768px) and (max-width:1024px) and (min-height:1280px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 750px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.carousel-indicators {
  margin-bottom: 3rem;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
} 
@media only screen and (min-width:1024px) and (max-width:1100px) and (min-height:1360px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 850px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.carousel-indicators {
  margin-bottom: 7rem;
}
.aim_1 img {
  width: 400px;
  height: 450px;
  margin-left: 100px;
  margin-top: 0px;
  margin-bottom: 370px;
}
.part_2{
  height: 50vh;
}
.part_3{
  height: 40vh;
}
.pledge_1{
  height: 32vh;
}
.pledge_0{
  height: 39vh;
}
.pledge_0 img{
  margin-top: 0px;
  margin-bottom: 110px;
}
.part_1,.part_2,.part_3{
  overflow-x: hidden;
}
.part_2,.part_3{
  overflow-y: hidden;
}
} 
@media only screen and (min-width:990px) and (max-width:1010px) and (min-height:550px)  {
  .carousel-inner .carousel-item img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 450px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 00px;
}
.carousel-indicators {
  margin-bottom: 1rem;
}

} 