.ncc-span-fs{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif !important;
}

/* Team */
.cadets{
  margin-top: 130px;
}
.cadets .row .col img{
  width: 240px;
  height: 230px;
}
.cadets .row .col p{
  width: 240px;
}
/*  
.alumni .row .col img{
  width: 261px;
  height: 262px;
} */

@media only screen and (min-width:1000px){
  .row1{
    margin:0px 155px;
  }
  .row2{
    margin:0px -90px;
  }
}
@media only screen and (max-width:768px){
  .cadets .row .col img{
    width: 261px;
    height: 230px;
  }
  /* .alumni .row .col img{
    width: 261px;
    height: 230px;
  } */
  .cadets .row .col p{
    width: 261px;
  }
}
@media only screen and (min-width:570px) and (max-width:767px){
  

}
@media only screen and (min-width:530px) and (max-width:570px){
  
}
/* @media only screen and (min-width:490px) and (max-width:530px){
  .cadets h2{
    margin-left: 105px;
  }
  .alumni h2{
    margin-left: 105px;
  }
}
@media only screen and (min-width:460px) and (max-width:490px){
  .cadets h2{
    margin-left: 80px;
  }
  .alumni h2{
    margin-left: 80px;
  }
}
@media only screen and (min-width:385px) and (max-width:460px){
  .cadets h2{
    margin-left: 60px;
  }
  .alumni h2{
    margin-left: 60px;
  }
} */